<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>short_url</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>index</servlet-name>
    <servlet-class>Index</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>connexion</servlet-name>
    <servlet-class>Connexion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>shortUrlIndex</servlet-name>
    <servlet-class>ShortUrlIndex</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>subscribe</servlet-name>
    <servlet-class>Subscribe</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deconnexion</servlet-name>
    <servlet-class>Deconnexion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>shortUrlUser</servlet-name>
    <servlet-class>ShortUrlUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>urls</servlet-name>
    <servlet-class>Urls</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>redirectUrl</servlet-name>
    <servlet-class>RedirectUrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>subscribe</servlet-name>
    <url-pattern>/subscribe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>shortUrlIndex</servlet-name>
    <url-pattern>/shortUrlIndex</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>shortUrlUser</servlet-name>
    <url-pattern>/shortUrlUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>urls</servlet-name>
    <url-pattern>/urls</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>redirectUrl</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>